# Symfony 3
/var/cache/*
/var/logs/*
/var/logs/dev.log
/var/session/*
/var/cache/dev
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/seccions/.gitkeep
PDS_notnull/var/cache/*
PDS_notnull/var/cache/dev*
PDS_notnull/var/cache/dev
PDS_notnull/var/session/*



# -- Composer -----------------------------------------
composer.phar
 

 
# -- Editores -----------------------------------------



# sublimetext
/*.sublime-project
*.sublime-workspace
 
# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
 

Icon
._*
.Spotlight-V100
.Trashes
