<div class="container">
    <div class="row">
        <ul>
            <li> Recibiste un mensaje de {{ nombre }}</li>
            <br/>
            <li>Con el mail {{ email }}</li>
            <br/>
            <li>El mensaje es el siguiente:</li>
            <br/>
        </ul>
        <h2>{{mensaje}}</h2>
        
    </div>
    <div class="text-center">
        <br/>
        <br/>
        <br/>
        <br/>
        <h4><center>Equipo de EstacionAR</center></h4>
    </div>
</div>