<div class="container">
    <div class="row">
        <h3>Gracias por el contacto</h3>
        Hola {{ nombre }}! Muchas gracias por contactarte con nosotros, el mensaje fue recibido.
        Responderemos lo antes posible!
        Gracias!
        
    </div>
    <div class="text-center">
        <br/>
        <br/>
        <br/>
        <br/>
        <h4><center>Equipo de EstacionAR</center></h4>
    </div>
</div>