
# Symfony 3
PDS_notnull/var/cache/*
PDS_notnull/var/logs/*
PDS_notnull/var/logs/dev.log
PDS_notnull/var/session/*
PDS_notnull/var/cache/dev/*
PDS_notnull/var/cache/*
!PDS_notnull/var/cache/.gitkeep
!PDS_notnull/var/logs/.gitkeep
!PDS_notnull/var/seccions/.gitkeep
PDS_notnull/var/cache/dev/
notnull/PDS_notnull/var/cache/*
notnull/PDS_notnull/var/cache/dev/*


# -- Composer -----------------------------------------
composer.phar

# sublimetext
/*.sublime-project
*.sublime-workspace
 
# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

