<!DOCTYPE html>
<html>

    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                width: 50%;
                height: 600px;
                background-color: grey;}
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <h1>Establecimientos: {{ establecimientos|length}}</h1>

        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                var centro = {lat: -34.6036844, lng: -58.381559100000004};

                map = new google.maps.Map(document.getElementById('map'), {
                    center: centro,
                    zoom: 7
                });

                /* MARCADOR ORIGINAL
                var marker = new google.maps.Marker({
                    position: centro,
                    map: map
                }); */


                {% for est in establecimientos %}

                    lat = {{ est.lat|number_format }};
                    lng = {{ est.lng|number_format }};

                    position = new google.maps.LatLng(lat,lng);
                    markerd = new google.maps.Marker({
                        position: position,
                        map: map
                    });

                {% endfor %}


            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD70uQg1AN-QrsX7Q8SYiAUuG3D5CgpttU&callback=initMap"
        async defer></script>


    </body>
</html>