<h1>Reservar el lugar </h1>
{%  if lugar %}



    Reservar el lugar {{ lugar.id }}
    usando el auto: {{ app.user.autos[0].patente }}


    {{form_start(form)}}
    {{form_end(form)}}


{% else %}
    El lugar seleccionado no existe
{%   endif %}