<!DOCTYPE html>
<html lang="en">

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
       <link href="{{asset('public/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('public/estilos_varios/css/bootstrap-social.css')}}" rel="stylesheet">
        <script src="{{asset('public/estilos_varios/js/user.js')}}"></script>
         
         <div id="fullscreen_bg" class="fullscreen_bg"/>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <ul class="list-group">
                <a href="#" class="list-group-item active">
                  <br/><br/><i class="glyphicon glyphicon-home"></i> Perfil<br/><br/>
                  </a>
                <a href="#" class="list-group-item ">
                  <br/><br/><i class="glyphicon glyphicon-tasks"></i>Mi estacionamiento<br/><br/>
                </a>  
                <a href="#" class="list-group-item ">
                  <br/><br/><i class="glyphicon glyphicon-transfer"></i> Mis reservas<br/><br/>
                </a>
                <a href="#" class="list-group-item">
                  <br/><br/><h4 class="glyphicon glyphicon-wrench"></h4> Editar mi informacion<br/><br/>
                </a>
              </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                      <h1 class="glyphicon glyphicon-user" style="font-size:14em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a">Bienvenido</h2>
                      <h3 style="margin-top: 0;color:#00001a">Pagina de Usuario</h3>
                    </center>
                </div>
              
              
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-tasks" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Estacionamientos</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Mi estacionamiento</h3>
                    </center>
                </div>
    
               
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-transfer" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Reservas</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Mis reservas </h3>
                    </center>
                </div>
                
                <div class="bhoechie-tab-content">
                    <center>
                      <h1 class="glyphicon glyphicon-edit" style="font-size:12em;color:#00001a"></h1>
                      <h2 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Editar</a></h2>
                      <h3 style="margin-top: 0;color:#00001a">Editar mi informacion</h3>
                    </center>
                </div>
            </div>
        </div>
  </div>

    
        
</html>